* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  font-family: "Open Sans", OpenSans, sans-serif;
}
.clearfix {
  clear: both;
}
nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #cb3837;
  font-family: 'Source Sans Pro', sans-serif;
}
nav a {
  color: #fff;
  text-decoration: none;
}
.top-left {
  float: left;
  width: 30%;
  margin-left: 20px;
}
.nav-links {
  display: inline;
  float: right;
  margin: 0 20px 0 0;
}
.nav-links li {
  display: inline;
  margin: 0 10px;
}
.header {
  background-color: #21597a;
  padding-top: 10px;
}
.logo {
  float: left;
  width: 10%;
  padding: 0 20px 0 20px;
}
.logo img {
  width: 100%;
}
.form {
  float: left;
  height: 40px;
  width: 65%;
}
.form form {
  height: 100%;
}
.form form input, .form form button {
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.form form input {
  float: left;
  width: 95%;
  background-color: rgb(31, 82, 111);
}
.form form button {
  width: 5%;
  background-color: rgb(31, 82, 111);
}
.bear {
  float: right;
  width: 15%;
  padding: 0;
  margin: 0;
  padding-right: 30px;
  text-align: right;
}
.bear p {
  float: left;
  margin-right: 15px;
  line-height: 40px;
  vertical-align: middle;
}
.bear img {
  height: 40px;
}
.container {
  margin: 0 15%;
  padding-top: 50px;
  padding-bottom: 90px;
}
.link-btn {
  padding: 8px 15px;
  font-size: 1.15em;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
#signup {
  background-image: url('images/city-scape.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
#signup h2 {
  width: 45%;
  margin-bottom: 25px;
  font-size: 3em;
  font-weight: 100;
}
#signup p {
  width: 60%;
  margin-bottom: 35px;
  width: 60%;
  font-size: 1.25em;
}
#signup .link-btn {
  background-color: rgb(240, 146, 51);
}
#collaboration {
  padding-top: 50px;
  background-color: rgb(39, 53, 71);
  color: #eee;
}
.image {
  width: 50%;
}
.text {
  float: right;
  width: 45%;
}
.text h2 {
  margin-bottom: 25px;
  font-size: 1.8em;
}
.text ul {
  margin: 25px 0;
}
.text li {
  margin-bottom: 15px;
  margin-left: 15px;
}
.text .link-btn {
  background-color: rgb(203, 56, 55);
}
#install {
  position: relative;
  height: 500px;
  background-image: url("images/forklift.svg");
}
.slogan {
  width: 50%;
  position: absolute;
  top: 150px;
  left: 15%;
}
#install h2 {
  margin-bottom: 25px;
  font-size: 1.8em;
}
#install p {
  width: 50%;
  margin-bottom: 35px;
  font-size: 1.25em;
}
#install .link-btn {
  background-color: rgb(49, 68, 88);
}